h1 {
    text-align: left;
    color: white;
    outline-color: white;
}
h5 {
    text-align: left;
    padding-left:  50px;
    color: white;
    outline-color: white;
}

.container-fluid {
    background: black;
}

html{
    background: black;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
    color: lightslategrey;
}

.comingsoon {
    text-align: center;
    background-color: lightpink;
}
.bottom {
    text-align: center;
}